<link rel="import" href="../../paper-styles/demo-pages.html">
<link rel="import" href="../../paper-styles/color.html">
<link rel="import" href="../../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../abas-icons.html">

<dom-module id="abas-demo">
    <template>

        <style is="custom-style">
            h2 {
                text-transform: capitalize;
                color: black;
            }
            iron-icon {
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
            }

            .set {
                margin: auto;
                padding: 1em 0;
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
            }

            .container {
                min-width: 10em;
                padding: 1em 0.5em;
                text-align: center;
                @apply(--layout-vertical);
                @apply(--layout-center);
                @apply(--layout-flex);
            }
            .container > div {
                margin-top: 0.5em;
                font-size: 10px;
            }

        </style>


        <iron-meta type="iconset" list="{{iconsets}}"></iron-meta>
        <div>Abas-Icons</div>


        <div class="set">
            <template is="dom-repeat" items="{{getIconNames(abasIcon)}}">
                     <span class="container">
                         <iron-icon icon="{{item}}"></iron-icon>
                         <div>{{item}}</div>
                     </span>
            </template>
        </div>


    </template>

    <script>
        Polymer({
            is: 'abas-demo',
            properties: {
                abasIcon: {
                    type: Object,
                    computed: "findAbasIcon(iconsets)"
                }
            },
            findAbasIcon: function (iconsets) {
                return iconsets[1];
            },
            getIconNames: function (iconset) {
                return iconset.getIconNames();
            }
        });
    </script>
</dom-module>
